<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="script">
    <th:block th:replace="~{fragments/game_player_fragment :: gamePlayerScript}"></th:block>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css">
    <th:block th:replace="~{fragments/game_player_fragment :: gamePlayerCss}"></th:block>
</th:block>

<head>
    <title th:text="${gameProject != null ? gameProject.getTitle() : 'Game'}">Game</title>
</head>

<body>
<th:block layout:fragment="content">
    <div class="container px-3 px-md-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <!-- Game Title -->
                <h1 class="my-3 my-md-4" th:text="${gameProject.getTitle()}">Game Title</h1>
                
                <!-- Game iframe Section -->
                <div th:replace="~{fragments/game_player_fragment :: gamePlayer(gameUrl=${gameProject.gameUrl})}"></div>
                
                <!-- Project Description Section -->
                <div th:replace="~{fragments/memo_fragment :: memoFragment}"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
