<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="
        pageTitle=${gameProject.title + ' | Yunseong'},
        pageDescription=${gameProject.title + ' - Yunseong의 게임 프로젝트입니다.'},
        pageKeywords=${gameProject.title + ', 게임, 웹 게임, 프로젝트'},
        pageUrl=${'/public/games/' + gameProject.id}">

<th:block layout:fragment="script">
    <th:block th:replace="~{fragments/game_player_fragment :: gamePlayerScript}"></th:block>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css">
    <!-- Prism.js CSS for syntax highlighting - GitHub style theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-ghcolors.min.css">
    <link rel="stylesheet" th:href="@{/css/memo-view.css}">
    <th:block th:replace="~{fragments/game_player_fragment :: gamePlayerCss}"></th:block>
</th:block>

<body>
<th:block layout:fragment="content">
    <div class="container px-3 px-md-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <!-- Game Title -->
                <h1 class="my-3 my-md-4" th:text="${gameProject.getTitle()}">Game Title</h1>
                
                <!-- Game iframe Section -->
                <div th:replace="~{fragments/game_player_fragment :: gamePlayer(gameUrl=${gameProject.gameUrl})}"></div>
                
                <!-- Project Description Section -->
                <div th:replace="~{fragments/memo_fragment :: memoFragment}"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
