<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Blog</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1>Blog</h1>
        <a th:href="@{/admin/memos/new(category=${selectedCategory})}" class="btn btn-primary mb-3">Write a new memo</a>
        <div class="row">
            <div class="col-md-9">
                <div th:each="memo : ${memos.content}">
                    <div  th:replace="~{fragments/memo_card_fragment :: memoCard(memo=${memo})}">
                    </div>
                </div>
                <div th:replace="~{fragments/page_navi_fragment :: pageNavi(memos=${memos}, selectedCategory=${selectedCategory})}"></div>
            </div>
            <div class="col-md-3">
                <div th:replace="~{fragments/category_fragment :: categoryList(categories=${categories}, selectedCategory=${selectedCategory})}"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>