<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Blog</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1>Blog</h1>
        <a href="/admin/memos/new" class="btn btn-primary mb-3">Write a new memo</a>
        <div>
            <div th:each="memo : ${memos}">
                <div  th:replace="~{fragments/memo_card_fragment :: memoCard(memo=${memo})}">
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>