<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="
        pageTitle='Yunseong - Personal Website',
        pageDescription='Yunseong의 개인 웹사이트입니다. 개발, 기술 블로그, 그리고 다양한 프로젝트를 공유합니다.',
        pageKeywords='개발, 블로그, Yunseong, 프로그래밍, 기술, 웹개발',
        pageUrl=''">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css">
    <!-- Prism.js CSS for syntax highlighting - GitHub style theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-ghcolors.min.css">
    <link rel="stylesheet" th:href="@{/css/memo-view.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</th:block>

<body>
<th:block layout:fragment="content">
    <div th:replace="~{fragments/home_hero_fragment :: homeHero}"></div>

    <div class="home-content">
        <!-- Search Bar -->
        <div class="home-search">
            <div th:replace="~{fragments/search_bar_fragment :: searchBar}"></div>
            <div th:replace="~{fragments/search_bar_fragment :: searchBarScript}"></div>
        </div>
    </div>
</th:block>
</body>
</html>
