<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css">
    <!-- Prism.js CSS for syntax highlighting - GitHub style theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-ghcolors.min.css">
    <link rel="stylesheet" th:href="@{/css/memo-view.css}">
</th:block>

<body>
<th:block layout:fragment="content">
    <!-- Jumbotron -->
    <div class="p-3 p-md-5 mb-4 bg-dark text-white rounded-3 shadow-lg">
        <div class="container-fluid py-3 py-md-5">
            <h1 class="display-5 fw-bold">Yunseong</h1>
        </div>
    </div>

    <!-- Memo Section -->
    <div class="container px-3 px-md-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div th:replace="~{fragments/memo_fragment :: memoFragment}"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>