<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.css">
    <!-- Prism.js CSS for syntax highlighting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
</th:block>

<head>
    <title th:text="${memo.getTitle()}"> </title>
</head>

<body>
<th:block layout:fragment="content">
  <div class="container px-3 px-md-4">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12">
        <!-- Memo Section -->
        <div th:replace="~{fragments/memo_fragment :: memoFragment}"></div>

        <br/><br/>

        <!-- Memos Section -->
        <div th:each="memo : ${memos.content}">
          <div  th:replace="~{fragments/memo_card_fragment :: memoCard(memo=${memo})}">
          </div>
        </div>
        <div th:replace="~{fragments/page_navi_fragment :: pageNavi(memos=${memos}, selectedCategory=${selectedCategory})}"></div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>